/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-image: url("car.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    font-weight: bold;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.counter-container {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

h1 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 15px;
}

h2 {
    font-size: 4rem;
    color: #b22222;
    margin: 20px 0;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

button {
    background-color: #b22222;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    padding: 15px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

#increment-btn:hover {
    background-color: #a31d1d;
}

#save-btn {
    background-color: #333;
}

#save-btn:hover {
    background-color: #444;
}

#save-el {
    font-size: 1rem;
    color: #333;
    margin-top: 10px;
}

.footer {
    text-align: center;
    font-size: 0.9rem;
    color: #777;
    padding: 15px 0;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
}
