body {
    background-image: url("car.jpg");
    background-size: cover;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    color: black;
    height: 100vh;
    
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: darkred;
}
    


h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: darkred;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 10px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: black;
}

.container {
    background: white;
    opacity: 0.7;
    max-width: 80%;
    margin: auto;
    border: 1px solid grey;
    border-radius: 10px;
}

.footer {
    font-weight: lighter;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 0.5;
}

/* Media query for tablets and smaller screens */
@media (max-width: 768px) {
  .container {
    max-width: 90%; /* sets the width to 90% of the screen on tablets */
    padding: 0 15px; /* reduce padding slightly */
  }
}

/* Media query for smartphones */
@media (max-width: 480px) {
  .container {
    max-width: 100%; /* makes the container full-width on smartphones */
    padding: 0 10px; /* further reduce padding for small screens */
  }
}


